html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,p {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
}

ul li{
	list-style: none;
}

body{
	clear:both;
}

.news-gallery{
	height: 257px;
	width: 696px;
	overflow: hidden;
	float: left;

	position: absolute;
	left: 100px;          /*if you need left/right/top/buttom to position cell, first position*/
}

.news-gallery-img{
	height: 257px;
	width: 5000px;
	top:0;
}

.news-gallery-img li{
	height: 257px;
	width: 696px;
	position: relative;
	overflow: hidden;

	float: left;
}

.news-gallery-tit{
	position: absolute;
	top: 90%;
}

.news-gallery-nav{
	position: absolute;
	bottom: 10px;
	right: 20px;
	z-index: 30;
	display: block;
}

.news-gallery-nav li{
	width: 15px;
	height: 15px;
	margin: 5px;
	border-radius: 20px;
	background: #fff;

	float: left;
}

.news-gallery-tit li{
	color: #000;
	float: left;
}

.news-img-next{
	background: url(img/right.png);

	right: -50px;
}

.news-img-prev{
	background: url(img/left.png);

	left: -50px;
}

.news-img-prev, .news-img-next{
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;

	cursor: pointer;
	margin-top: -32px;
}